.iconSecondary {
  color: #3B8700
}
.iconPrimary {
  color: #E62020;
}
.iconContainer {
  gap: 160px
}
.iconList {
  width: 64px;
  gap: 4px
}

.SizeList,
.VariantList {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 480px;
}